.CommentList {
  margin: 10px 0;
}

.CommentList.is-selected .Comment {
  opacity: 0.4;
}

.CommentList.is-selected .Comment.is-active {
  opacity: 1;
}

.CommentList .CommentList-title {
  color: #efefef;
  display: inline-block;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 0.85;
  line-height: 1.25;
  margin: 6px 0;
}

.CommentList .CommentList-element {
  list-style: none;
  margin: 0;
  padding: 0;
}

.CommentList .Comment {
  margin-top: 4px;
  margin-bottom: 4px;
}

.CommentList .Comment:first-child {
  margin-top: 0;
}
