.Comment {
  background-color: #f9f9f9;
  border-radius: 2px;
  color: #343434;
  font-size: 14px;
  line-height: 1.25;
  min-height: 28px;
  padding: 12px 20px 10px;
  position: relative;
}

.Comment .Comment-avatar,
.Comment .Comment-avatar img,
.Comment .Comment-like,
.Comment .Comment-replies {
  border-radius: 48px;
}

.Comment .Comment-avatar,
.Comment .Comment-like,
.Comment .Comment-replies {
  border: 4px solid #f9f9f9;
  color: #fff;
  display: block;
  height: 48px;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 48px;
}

.Comment .Comment-like,
.Comment .Comment-replies {
  border-width: 3px;
  height: 24px;
  left: 100%;
  margin-left: -16px;
  width: 24px;
}

.Comment.is-editable .Comment-like,
.Comment.is-editable .Comment-replies {
  display: none;
}

.Comment .Comment-likeTotal,
.Comment .Comment-repliesTotal {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  color: #d4d4d4;
  font-size: 10px;
  left: 100%;
  line-height: 20px;
  margin-left: 20px;
  margin-top: 6px;
  padding: 0 6px;
  position: absolute;
}

.Comment .Comment-likeTotal:before,
.Comment .Comment-repliesTotal:before {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 4px solid rgba(0, 0, 0, 0.5);
  content: ' ';
  left: -4px;
  position: absolute;
  top: 5px;
}

.Comment .Comment-like .fa,
.Comment .Comment-replies .fa {
  font-size: 12px;
}

.Comment .Comment-avatar {
  left: -40px;
}

.Comment .Comment-like,
.Comment .Comment-likeTotal {
  top: 0;
}

.Comment .Comment-like {
  background-color: #F08F8F;
}
.Comment.is-liked .Comment-like {
  background-color: #DB2424;
}
.Comment .Comment-like .fa {
  line-height: 26px;
}

.Comment .Comment-replies,
.Comment .Comment-repliesTotal {
  top: 34px;
}

.Comment .Comment-replies {
  background-color: #6db964;
}
.Comment .Comment-replies .fa {
  line-height: 24px;
}

.Comment .Comment-body p {
  margin: 0;
  padding: 6px 0;
}

.Comment .Comment-body[contenteditable="true"] {
  outline: 0;
}

.Comment .Comment-footer {
  font-size: 11px;
  font-weight: 200;
  letter-spacing: 0.5;
  text-align: right;
  overflow: auto;
}

.Comment .Comment-footer > * {
  color: #999;
  display: inline-block;
  margin: 0 2px;
}

.Comment .Comment-footer .Comment-footer-flag {
  text-decoration: none;
}

.Comment .Comment-footer .Comment-footer-flag:hover {
  text-decoration: underline;
}

.Comment .Comment-footer .Comment-submit {
  background-color: #58a7e8;
  border-color: #4899db;
  border-radius: 2px 2px 5px 5px;
  border-style: solid;
  border-width: 1px 1px 5px 1px;
  color: #fff;
  float: right;
  font-size: 12px;
  margin: 8px 0 0 auto;
  padding: 4px 12px;
  outline: 0;
}

.Comment .Comment-footer .Comment-submit:active {
  border-radius: 2px;
  border-bottom-width: 2px;
  margin-top: 11px;
}
