.Layout.Layout--grep {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 10px 0;
}

.Layout.Layout--grep .Layout-close {
  color: #f4f4f4;
  position: fixed;
  top: 10px;
  right: 10px;
}

.Layout.Layout--grep .Layout-close:hover {
  color: #e56e6d;
}
